@page "/"
@page "/index"
@attribute [Authorize]

Hello
<AuthorizeView>
    <Authorized>
        <h1>Welcome to my web app, @context.User.Identity.Name</h1>
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>