@page "/"
@page "/index"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h1>TodoList to organize work and life</h1>
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>