@page "/to-do-list/advice"
@page "/{UserId}/to-do-list/advice"
@attribute [Authorize]

<h3>Advice: To Do List</h3>
<hr />
<ToDoItems Filter="@Filter" UserId="@UserId"/>

@code {
    [Parameter]
    public string UserId { get; set; }

    IEnumerable<ToDoItem> Filter(IEnumerable<ToDoItem> toDoList)
        => toDoList.Where(m => !m.IsCompleted)
            .OrderByDescending(m => m.Priority).ThenBy(m => m.Deadline).OrderByDescending(m => m.Complication)
            .ToList();
}
