@page "/archive"
@page "/{UserId}/archive"
@attribute [Authorize]

<h3>Archive</h3>
<hr />
<ToDoItems Filter="@Filter" UserId="@UserId"/>

@code {
    [Parameter]
    public string UserId { get; set; }

    IEnumerable<ToDoItem> Filter(IEnumerable<ToDoItem> toDoList)
        => toDoList.Where(m => m.IsCompleted).ToList();
}


