@inject IToDoItemService IToDoItem
@inject ICategoryService ICategory
@page "/archive"
@using ToDoList.Client.Extensions
@attribute [Authorize]

<h3>Archive</h3>
<hr />
<ToDoItems ToDoList="@toDoList" />

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    
    IEnumerable<ToDoItem> toDoList; 

    protected override async Task OnParametersSetAsync()
    {
        string userId = (await authStateTask).User.GetUserId();
        toDoList = (await IToDoItem.GetToDoItemsAsync(userId))
            .Where(m => m.IsCompleted).ToList();
        foreach (ToDoItem item in toDoList)
            item.Category = await ICategory.GetCategoryAsync(userId, item.CategoryId);
    }
}

