@inject IToDoItemService IToDoItem
@inject ICategoryService ICategory
@page "/to-do-list"
@using ToDoList.Client.Extensions
@attribute [Authorize]

<h3>To Do List</h3>
<hr />
<NavLink href="to-do-list/create" class="btn btn-outline-primary">Create</NavLink>
<br />
<ToDoItems ToDoList="@toDoList" />

@code {
    [CascadingParameter]
    Task<AuthenticationState> authStateTask { get; set; }

    IEnumerable<ToDoItem> toDoList; 
    protected override async Task OnParametersSetAsync()
    {
        string userId = (await authStateTask).User.GetUserId();
        toDoList = (await IToDoItem.GetToDoItemsAsync(userId))
            .Where(m => !m.IsCompleted).ToList();
        foreach (ToDoItem item in toDoList)
            item.Category = await ICategory.GetCategoryAsync(userId, item.CategoryId);
    }
}
