@page "/to-do-list"
@page "/{UserId}/to-do-list"
@attribute [Authorize]

<h3>To Do List</h3>
<hr />
<NavLink href="@pathToCreate" class="btn btn-outline-primary">Create</NavLink>
<br />
<ToDoItems Filter="@Filter" UserId="@UserId"/>

@code {
    [CascadingParameter]
    Task<AuthenticationState> authStateTask { get; set; }

    [Parameter]
    public string UserId { get; set; }

    bool isAdmin;
    string pathForAdmin() => isAdmin ? UserId : string.Empty;
    string pathToCreate => $"{pathForAdmin()}/to-do-list/create";

    IEnumerable<ToDoItem> Filter(IEnumerable<ToDoItem> toDoList)
        => toDoList.Where(m => !m.IsCompleted).ToList();

    protected override async Task OnParametersSetAsync()
        => isAdmin = (await authStateTask).User.IsInRole(Roles.Admin);

}
